<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ovenvalets Booking Services</title>
        <style>
			* {
                padding: 0px;
                margin: 0px;
            }
			.html {
                font-family: Arial, verdana, sans-serif;
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
            }
            .container {
                padding: 20px 20px 5px 20px;
                margin: 20px 20px 5px 20px;
            }
			.file-content {
                margin-top: 5px;
            }
            .fieldset{
                border: 0 none transparent;
                margin-top: 5px;
                margin-bottom: 5px;
                padding-bottom: 5px;
            }
			.legend{
                font-size: 85%;
                text-transform: uppercase;
                padding: 5px;
                border-bottom: 1px solid #FF4C79;
                display: block;
                width: 100%;
                color: #0000FF;
                font-weight: bolder;
            }
			.table {
                margin-top: 50px;
                width: 100%;
                background-color: transparent;
                border-spacing: 0;
                border-collapse: collapse;
            }
			.th {
                text-align: left;
                width: 140px;
                color: #bf0151;
            }
			.table {
                width: 100%;
                margin-top: 10px;
            }
			.table > thead > tr > th,
            .table > tbody > tr > th,
            .table > tfoot > tr > th,
            .table > thead > tr > td,
            .table > tbody > tr > td,
            .table > tfoot > tr > td {
                padding: 5px;
                vertical-align: top;
                border-top: 0;
                font-size: 70%;
                border: 1px solid #FFFFFF;
            }
			.table-striped > tbody > tr:nth-child(odd) > td,
            .table-striped > tbody > tr:nth-child(odd) > th {
                background-color: #f0ecec;
            }
			.table-striped > tbody > tr:nth-child(even) > td,
            .table-striped > tbody > tr:nth-child(even) > th {
                background-color: #f8f5f5;
            }
			.textarea{
                text-indent: 10px;
                text-align:justify;
                font-size: 75%;
                font-family: Arial, sans-serif;
                padding: 5px;
                border: 1px dotted #96999c;
                width:100%;
                height:90px;
                margin-top: 2px;
            }
			.namesigned {
                color: #0000FF;
                padding-top: 5px;
                border-top: 1px dotted #bf0151;
                font-size: 80%;
                font-family: Calibri, sans-serif;
                font-weight: bolder;
                float:left;
                margin-top: 18px;
                width: 100%;
                text-align:center; }
			.signature {
                width: 30%;
                height: 30px;
                margin-top: 25;
                border: 0 none transparent;
            }
            a {
                text-decoration: none;
            }
		</style>
    </head>
    <body class="html">
        <div class="container">
            <div class="row">
                <div class="file-header">
                    <img src="{{image}}" style="width:100%;" />
                </div>
                <div class="file-content">

                    <div class="fieldset"><div class="legend">Customer's Information</div>
                        <table class="table table-striped">
                            <tr class="tr">	<th class="th">Customer Fullname:</th>	<td class="td">{{customer}}</td>		        </tr>
                            <tr class="tr">	<th class="th">Email:</th>				<td class="td"><a href="mailto:{{email}}">{{email}}</a></td>	</tr>
                            <tr class="tr">	<th class="th">Phone:</th>				<td class="td"><a href="tel:{{phone}}">{{phone}}</a></td> 	</tr>
                            <tr class="tr">	<th class="th">Address:</th>			<td class="td">{{address}}</td>					</tr>
                            <tr class="tr">	<th class="th">Appliance(s):</th> 		<td class="td">{{appliance}}</td>				</tr>
                        </table>
                    </div>

                    <div class="fieldset"> <div class="legend">Appliance Condition</div>
                        <div class="textarea" name="condition">{{condition}}</div>
                    </div>

                    <div class="fieldset"> <div class="legend">Needs Attention</div>
                        <div class="textarea" name="needsattention">{{need_attention}}</div>
                    </div>
                    <div class="fieldset">
                        <div class="legend">
                            Invoice Amount (<span style="text-transform: none;">inc GST</span>)
                            <div style="color: #e10083; margin-top: -16px; font-size: 120%; text-align: right;">{{amount}}</div>
                        </div>
                    </div>

                    <div style="position:absolute; top: 620px; left: 38px;">
                        <p style="color: #e10083; font-size: 76%; font-weight: bold; ">
                            The work is completed to my satisfaction and all items are in working order or as described above.
                        </p>
                    </div>

                    <div class="fieldset" style="margin-top:95px;">
                        <div class="signature"><div class="namesigned">Technician's Signature</div></div>
                        <div class="signature"><div class="namesigned">Customer's Signature</div></div>
                        <div class="signature"><div class="namesigned">Date Signed</div></div>
                    </div>

            </div>
        </div>
    </div>

    <hr style="position:absolute; bottom: 60px; left: 0px; width: 100%; border-top: 1px solid #FDFDFF; margin: 0px 20px;" />
    <p style="position:absolute; bottom: 45px; left: 0px; width: 100%; margin: 0px 20px; font-size: 9px; font-weight:bold;">
        Oven Valets | Clean, Detail, Sanitise - Ovens and BBQs &mdash; Aussie Owned and Operated
    </p>
    <p style="position:absolute; bottom: 30px; left: 0px; width: 100%; margin: 0px 20px; font-size: 9px;">
        <a href="https://ovenvalets.com.au/" style="font-weight: bolder; color: #e10083;">
            www.ovenvalets.com.au
        </a>
    </p>
    </body>
</html>