.text {
    &-start,
    &-left {
        text-align: left;
    }

    &-end,
    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-top {
        vertical-align: text-top;
    }

    &-bottom {
        vertical-align: text-bottom;
    }

    &-supper {
        vertical-align: super;
    }

    &-sub {
        vertical-align: sub;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-lowercase {
        text-transform: lowercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    &-underlined {
        text-decoration: underline;
    }

    &-decoration {
        &-none {
            text-decoration: none;
        }
    }
}

.font {
    &-bold {
        font-weight: bold;
    }

    &-bolder {
        font-weight: bolder;
    }

    &-12 {
        @include font-size(12px);
    }

    &-14 {
        @include font-size(14px);
    }

    &-16 {
        @include font-size(16px);
    }

    &-18 {
        @include font-size(18px);
    }

    &-22 {
        @include font-size(22px);
    }
}

.width {
    &-auto {
        width: auto;
    }

    &-100 {
        width: 100%;
    }

    &-50 {
        width: 50%;
    }

    &-25 {
        width: 25%;
    }
}

@media (max-width: 575px) {
    .width {
        &-sm {
            &-100 {
                width:  100%;
            }
        }
    }
}