.prepost-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.border {
    border: 1px solid color(gray600);

    &-right {
        border-right: 1px solid color(gray600);
    }

    &-left {
        border-left: 1px solid color(gray600);
    }

    &-top {
        border-top: 1px solid color(gray600);
    }

    &-bottom {
        border-bottom: 1px solid color(gray600);
    }

    &-light {
        border-color: color(gray400);
    }

    &-dark {
        border-color: color(dark);
    }
}

@include generate-spacing(padding, padding);

@include generate-spacing(margin, margin);

.flex-justify-content {
    &-end {
        @include flex-justify-content(flex-end);
    }
}

@include generate-flex-shrink(prepost-flex-shrink);

@include generate-flex-grow(prepost-flex-grow);

.prepost {
    &-display-flex {
        @include display-flex;
    }
}

.box-shadow {
    @include box-shadow(0 .125rem .25rem rgba(0, 0, 0, .075));
}

.align {
    &-baseline {
        vertical-align: baseline;
    }

    &-top {
        vertical-align: top;
    }

    &-middle {
        vertical-align:middle;
    }

    &-bottom {
        vertical-align: bottom;
    }
}