[type=button],
[type=reset],
[type=submit],
button {
    @include font-size(14px);
    padding: rem(5px) rem(8px);
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.5;
    white-space: nowrap;

    &:not(.disabled) {
        cursor: pointer;
    }

    &.prepost {
        &-btn {
            position: relative;
            display: inline-block;
            background-color: color(gray400);
            color: color(gray700);
            border: 1px solid color(gray500);
            @include border-radius(rem(3px));
            @include appearance(button);
            @include transition(all .5s ease);

            &-primary {
                background-color: color(primary);
                border-color: color(primary);
                color: color(light);

                &-outline {
                    background-color: transparent;
                    border-color: color(primary);
                    color: color(primary);

                    &:hover,
                    &:focus {
                        background-color: color(primary);
                        border-color: color(light);
                        color: color(light);
                    }
                }
            }

            &-success {
                background-color: color(success);
                border-color: color(success);
                color: color(light);
            }

            &-secondary {
                background-color: color(secondary);
                border-color: color(secondary);
                color: color(light);
            }

            &:hover,
            &:focus {
                @include opacity(0.7);
            }
        }
    }
}