.prepost {
    &-fieldset {
        padding: rem(10px);
        border: none;

        > legend {
            @include font-size(14px);
            text-transform: uppercase;
            color: color(blue);
            width: 100%;
            padding: rem(5px) 0 0 0;
            border-bottom: 2px solid color(primary);
        }
    }
}