input,
select,
textarea {
    padding: rem(8px) rem(10px);
    @include font-size(16px);
}

input {
    &[type=number] {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            @include appearance(none);
        }
    }
}

.prepost {
    &-input,
    &-select,
    &-textarea {
        display: inline-block;
        position: relative;
        background-color: color(gray200);
        border: 1px solid color(gray500);
        @include border-radius(3px);
        @include transition(all .15s ease-in-out);

        &:focus-visible {
            outline: none;
            background-color: color(gray300);
            border: 1px solid color(gray600);
        }
    }

    &-select {
        @include appearance(none);
        padding-right: rem(40px);
        background-image: url("../images/down-arrow.svg");
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: auto 40%;

        &::-ms-expand {
            display: none
        }
    }

    &-textarea {
        resize: none;
    }
}