.prepost-pagination {
    position: relative;
    @include display-flex;
    list-style-type: none;
    padding-left: 0;

    > li,
    > a {
        float: left;
    }

    .pagination-link {
        position: relative;
        display: block;
        padding: rem(6px) rem(10px);
        text-decoration: none;
        border: 1px solid color(gray400);
        @include font-size(14px);
        @include transition(all .15s ease-in-out);
    }

    > li {
        list-style-type: none;

        &.disabled {
            .pagination-link {
                color: color(secondary);
                pointer-events: none;
                background-color: color(light);
            }
        }

        &:not(:first-child) {
            margin-left: -1px;
        }

        &:not(.disabled) {
            .pagination-link {
                cursor: pointer;
                color: color(primary);
                background-color: color(light);
                border: 1px solid color(gray400);

                &:hover,
                &:focus {
                    color: color(gray400);
                    background-color: color(primary);
                    border: 1px solid color(gray400);
                }
            }
        }
    }
}