.prepost-search-group {
    position: relative;
    @include display-flex;
    list-style-type: none;
    padding-left: 0;

    > .prepost {
        &-btn,
        &-input,
        &-select {
            position: relative;
            border: none;
            border-radius: 0px;

            &:focus-visible {
                border-color: color(gray500);
            }
        }

        &-select {
            border-top: 1px solid color(gray500);
            border-left: 1px solid color(gray500);
            border-bottom: 1px solid color(gray500);
            flex-grow: 0;
        }

        &-btn {
            padding: rem(5px) rem(10px);
            border-top: 1px solid color(gray500);
            border-right: 1px solid color(gray500);
            border-bottom: 1px solid color(gray500);
            flex-grow: 0;
        }

        &-input {
            border: 1px solid color(gray500);
            width: 100%;
            flex-grow: 1;
        }
    }
}