.prepost-table {
    background: color(light);
    border: none;
    width: 100%;
    border-collapse: collapse;

    * {
        @include font-size(14px);
    }

    > thead {
        > tr {
            > th {
                border-bottom: 2px solid color(dark);
                background: transparent;
                @include font-size(16px);
            }
        }
    }

    >tbody {
        >tr {
            >th {
                @include font-size(16px);
            }
        }
    }

    th, td {
        padding: rem(3px) rem(5px);
        border: none;
    }

    &-responsive {
        overflow-x: auto;
    }

    &-striped {
        > tbody {
            > tr {
                > * {
                    background-color: color(gray100);
                }

                &:nth-of-type(odd) {
                    > * {
                        background-color: color(gray300);
                    }
                }
            }
        }
    }

    &-hover {
        > tbody {
            > tr {
                &:hover,
                &:focus {
                    > * {
                        background-color: color(gray400);
                    }
                }
            }
        }
    }

    &-bordered {
        > tbody {
            > tr {
                > * {
                    border: 1px solid color(gray400);
                }
            }
        }
    }

    .no-record-found {
        width: 100%;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        padding: rem(10px);
    }
}