#__prepost-plugin-app * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#__prepost-plugin-app *::before, #__prepost-plugin-app *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#__prepost-plugin-app .text-start, #__prepost-plugin-app .text-left {
  text-align: left;
}

#__prepost-plugin-app .text-end, #__prepost-plugin-app .text-right {
  text-align: right;
}

#__prepost-plugin-app .text-center {
  text-align: center;
}

#__prepost-plugin-app .text-top {
  vertical-align: text-top;
}

#__prepost-plugin-app .text-bottom {
  vertical-align: text-bottom;
}

#__prepost-plugin-app .text-supper {
  vertical-align: super;
}

#__prepost-plugin-app .text-sub {
  vertical-align: sub;
}

#__prepost-plugin-app .text-uppercase {
  text-transform: uppercase;
}

#__prepost-plugin-app .text-lowercase {
  text-transform: lowercase;
}

#__prepost-plugin-app .text-capitalize {
  text-transform: capitalize;
}

#__prepost-plugin-app .text-underlined {
  text-decoration: underline;
}

#__prepost-plugin-app .text-decoration-none {
  text-decoration: none;
}

#__prepost-plugin-app .font-bold {
  font-weight: bold;
}

#__prepost-plugin-app .font-bolder {
  font-weight: bolder;
}

#__prepost-plugin-app .font-12 {
  font-size: 0.75rem;
}

#__prepost-plugin-app .font-14 {
  font-size: 0.875rem;
}

#__prepost-plugin-app .font-16 {
  font-size: 1rem;
}

#__prepost-plugin-app .font-18 {
  font-size: 1.125rem;
}

#__prepost-plugin-app .font-22 {
  font-size: 1.375rem;
}

#__prepost-plugin-app .width-auto {
  width: auto;
}

#__prepost-plugin-app .width-100 {
  width: 100%;
}

#__prepost-plugin-app .width-50 {
  width: 50%;
}

#__prepost-plugin-app .width-25 {
  width: 25%;
}

@media (max-width: 575px) {
  #__prepost-plugin-app .width-sm-100 {
    width: 100%;
  }
}

#__prepost-plugin-app .prepost-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#__prepost-plugin-app .border {
  border: 1px solid #6c757d;
}

#__prepost-plugin-app .border-right {
  border-right: 1px solid #6c757d;
}

#__prepost-plugin-app .border-left {
  border-left: 1px solid #6c757d;
}

#__prepost-plugin-app .border-top {
  border-top: 1px solid #6c757d;
}

#__prepost-plugin-app .border-bottom {
  border-bottom: 1px solid #6c757d;
}

#__prepost-plugin-app .border-light {
  border-color: #ced4da;
}

#__prepost-plugin-app .border-dark {
  border-color: #000;
}

#__prepost-plugin-app .padding-0 {
  padding: 0rem;
}

#__prepost-plugin-app .padding-1 {
  padding: 0.25rem;
}

#__prepost-plugin-app .padding-2 {
  padding: 0.5rem;
}

#__prepost-plugin-app .padding-3 {
  padding: 1rem;
}

#__prepost-plugin-app .padding-4 {
  padding: 1.5rem;
}

#__prepost-plugin-app .padding-5 {
  padding: 3rem;
}

#__prepost-plugin-app .padding-top-0 {
  padding-top: 0rem;
}

#__prepost-plugin-app .padding-top-1 {
  padding-top: 0.25rem;
}

#__prepost-plugin-app .padding-top-2 {
  padding-top: 0.5rem;
}

#__prepost-plugin-app .padding-top-3 {
  padding-top: 1rem;
}

#__prepost-plugin-app .padding-top-4 {
  padding-top: 1.5rem;
}

#__prepost-plugin-app .padding-top-5 {
  padding-top: 3rem;
}

#__prepost-plugin-app .padding-right-0 {
  padding-right: 0rem;
}

#__prepost-plugin-app .padding-right-1 {
  padding-right: 0.25rem;
}

#__prepost-plugin-app .padding-right-2 {
  padding-right: 0.5rem;
}

#__prepost-plugin-app .padding-right-3 {
  padding-right: 1rem;
}

#__prepost-plugin-app .padding-right-4 {
  padding-right: 1.5rem;
}

#__prepost-plugin-app .padding-right-5 {
  padding-right: 3rem;
}

#__prepost-plugin-app .padding-bottom-0 {
  padding-bottom: 0rem;
}

#__prepost-plugin-app .padding-bottom-1 {
  padding-bottom: 0.25rem;
}

#__prepost-plugin-app .padding-bottom-2 {
  padding-bottom: 0.5rem;
}

#__prepost-plugin-app .padding-bottom-3 {
  padding-bottom: 1rem;
}

#__prepost-plugin-app .padding-bottom-4 {
  padding-bottom: 1.5rem;
}

#__prepost-plugin-app .padding-bottom-5 {
  padding-bottom: 3rem;
}

#__prepost-plugin-app .padding-left-0 {
  padding-left: 0rem;
}

#__prepost-plugin-app .padding-left-1 {
  padding-left: 0.25rem;
}

#__prepost-plugin-app .padding-left-2 {
  padding-left: 0.5rem;
}

#__prepost-plugin-app .padding-left-3 {
  padding-left: 1rem;
}

#__prepost-plugin-app .padding-left-4 {
  padding-left: 1.5rem;
}

#__prepost-plugin-app .padding-left-5 {
  padding-left: 3rem;
}

#__prepost-plugin-app .margin-0 {
  margin: 0rem;
}

#__prepost-plugin-app .margin-1 {
  margin: 0.25rem;
}

#__prepost-plugin-app .margin-2 {
  margin: 0.5rem;
}

#__prepost-plugin-app .margin-3 {
  margin: 1rem;
}

#__prepost-plugin-app .margin-4 {
  margin: 1.5rem;
}

#__prepost-plugin-app .margin-5 {
  margin: 3rem;
}

#__prepost-plugin-app .margin-auto {
  margin: auto;
}

#__prepost-plugin-app .margin-top-0 {
  margin-top: 0rem;
}

#__prepost-plugin-app .margin-top-1 {
  margin-top: 0.25rem;
}

#__prepost-plugin-app .margin-top-2 {
  margin-top: 0.5rem;
}

#__prepost-plugin-app .margin-top-3 {
  margin-top: 1rem;
}

#__prepost-plugin-app .margin-top-4 {
  margin-top: 1.5rem;
}

#__prepost-plugin-app .margin-top-5 {
  margin-top: 3rem;
}

#__prepost-plugin-app .margin-top-auto {
  margin-top: auto;
}

#__prepost-plugin-app .margin-right-0 {
  margin-right: 0rem;
}

#__prepost-plugin-app .margin-right-1 {
  margin-right: 0.25rem;
}

#__prepost-plugin-app .margin-right-2 {
  margin-right: 0.5rem;
}

#__prepost-plugin-app .margin-right-3 {
  margin-right: 1rem;
}

#__prepost-plugin-app .margin-right-4 {
  margin-right: 1.5rem;
}

#__prepost-plugin-app .margin-right-5 {
  margin-right: 3rem;
}

#__prepost-plugin-app .margin-right-auto {
  margin-right: auto;
}

#__prepost-plugin-app .margin-bottom-0 {
  margin-bottom: 0rem;
}

#__prepost-plugin-app .margin-bottom-1 {
  margin-bottom: 0.25rem;
}

#__prepost-plugin-app .margin-bottom-2 {
  margin-bottom: 0.5rem;
}

#__prepost-plugin-app .margin-bottom-3 {
  margin-bottom: 1rem;
}

#__prepost-plugin-app .margin-bottom-4 {
  margin-bottom: 1.5rem;
}

#__prepost-plugin-app .margin-bottom-5 {
  margin-bottom: 3rem;
}

#__prepost-plugin-app .margin-bottom-auto {
  margin-bottom: auto;
}

#__prepost-plugin-app .margin-left-0 {
  margin-left: 0rem;
}

#__prepost-plugin-app .margin-left-1 {
  margin-left: 0.25rem;
}

#__prepost-plugin-app .margin-left-2 {
  margin-left: 0.5rem;
}

#__prepost-plugin-app .margin-left-3 {
  margin-left: 1rem;
}

#__prepost-plugin-app .margin-left-4 {
  margin-left: 1.5rem;
}

#__prepost-plugin-app .margin-left-5 {
  margin-left: 3rem;
}

#__prepost-plugin-app .margin-left-auto {
  margin-left: auto;
}

#__prepost-plugin-app .flex-justify-content-end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

#__prepost-plugin-app .prepost-flex-shrink-0 {
  flex-shrink: 0;
}

#__prepost-plugin-app .prepost-flex-shrink-1 {
  flex-shrink: 1;
}

#__prepost-plugin-app .prepost-flex-shrink-2 {
  flex-shrink: 2;
}

#__prepost-plugin-app .prepost-flex-shrink-3 {
  flex-shrink: 3;
}

#__prepost-plugin-app .prepost-flex-shrink-4 {
  flex-shrink: 4;
}

#__prepost-plugin-app .prepost-flex-shrink-5 {
  flex-shrink: 5;
}

#__prepost-plugin-app .prepost-flex-grow-0 {
  flex-grow: 0;
}

#__prepost-plugin-app .prepost-flex-grow-1 {
  flex-grow: 1;
}

#__prepost-plugin-app .prepost-flex-grow-2 {
  flex-grow: 2;
}

#__prepost-plugin-app .prepost-flex-grow-3 {
  flex-grow: 3;
}

#__prepost-plugin-app .prepost-flex-grow-4 {
  flex-grow: 4;
}

#__prepost-plugin-app .prepost-flex-grow-5 {
  flex-grow: 5;
}

#__prepost-plugin-app .prepost-display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#__prepost-plugin-app .box-shadow {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#__prepost-plugin-app .align-baseline {
  vertical-align: baseline;
}

#__prepost-plugin-app .align-top {
  vertical-align: top;
}

#__prepost-plugin-app .align-middle {
  vertical-align: middle;
}

#__prepost-plugin-app .align-bottom {
  vertical-align: bottom;
}

#__prepost-plugin-app .prepost-fieldset {
  padding: 0.625rem;
  border: none;
}

#__prepost-plugin-app .prepost-fieldset > legend {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #0000ff;
  width: 100%;
  padding: 0.3125rem 0 0 0;
  border-bottom: 2px solid #e10083;
}

#__prepost-plugin-app input,
#__prepost-plugin-app select,
#__prepost-plugin-app textarea {
  padding: 0.5rem 0.625rem;
  font-size: 1rem;
}

#__prepost-plugin-app input[type=number]::-webkit-inner-spin-button, #__prepost-plugin-app input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#__prepost-plugin-app .prepost-input, #__prepost-plugin-app .prepost-select, #__prepost-plugin-app .prepost-textarea {
  display: inline-block;
  position: relative;
  background-color: #e9ecef;
  border: 1px solid #adb5bd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

#__prepost-plugin-app .prepost-input:focus-visible, #__prepost-plugin-app .prepost-select:focus-visible, #__prepost-plugin-app .prepost-textarea:focus-visible {
  outline: none;
  background-color: #dee2e6;
  border: 1px solid #6c757d;
}

#__prepost-plugin-app .prepost-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2.5rem;
  background-image: url("../images/down-arrow.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 40%;
}

#__prepost-plugin-app .prepost-select::-ms-expand {
  display: none;
}

#__prepost-plugin-app .prepost-textarea {
  resize: none;
}

#__prepost-plugin-app .prepost-table {
  background: #fff;
  border: none;
  width: 100%;
  border-collapse: collapse;
}

#__prepost-plugin-app .prepost-table * {
  font-size: 0.875rem;
}

#__prepost-plugin-app .prepost-table > thead > tr > th {
  border-bottom: 2px solid #000;
  background: transparent;
  font-size: 1rem;
}

#__prepost-plugin-app .prepost-table > tbody > tr > th {
  font-size: 1rem;
}

#__prepost-plugin-app .prepost-table th, #__prepost-plugin-app .prepost-table td {
  padding: 0.1875rem 0.3125rem;
  border: none;
}

#__prepost-plugin-app .prepost-table-responsive {
  overflow-x: auto;
}

#__prepost-plugin-app .prepost-table-striped > tbody > tr > * {
  background-color: #f8f9fa;
}

#__prepost-plugin-app .prepost-table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #dee2e6;
}

#__prepost-plugin-app .prepost-table-hover > tbody > tr:hover > *, #__prepost-plugin-app .prepost-table-hover > tbody > tr:focus > * {
  background-color: #ced4da;
}

#__prepost-plugin-app .prepost-table-bordered > tbody > tr > * {
  border: 1px solid #ced4da;
}

#__prepost-plugin-app .prepost-table .no-record-found {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding: 0.625rem;
}

#__prepost-plugin-app [type=button],
#__prepost-plugin-app [type=reset],
#__prepost-plugin-app [type=submit],
#__prepost-plugin-app button {
  font-size: 0.875rem;
  padding: 0.3125rem 0.5rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1.5;
  white-space: nowrap;
}

#__prepost-plugin-app [type=button]:not(.disabled),
#__prepost-plugin-app [type=reset]:not(.disabled),
#__prepost-plugin-app [type=submit]:not(.disabled),
#__prepost-plugin-app button:not(.disabled) {
  cursor: pointer;
}

#__prepost-plugin-app [type=button].prepost-btn,
#__prepost-plugin-app [type=reset].prepost-btn,
#__prepost-plugin-app [type=submit].prepost-btn,
#__prepost-plugin-app button.prepost-btn {
  position: relative;
  display: inline-block;
  background-color: #ced4da;
  color: #495057;
  border: 1px solid #adb5bd;
  -webkit-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#__prepost-plugin-app [type=button].prepost-btn-primary,
#__prepost-plugin-app [type=reset].prepost-btn-primary,
#__prepost-plugin-app [type=submit].prepost-btn-primary,
#__prepost-plugin-app button.prepost-btn-primary {
  background-color: #e10083;
  border-color: #e10083;
  color: #fff;
}

#__prepost-plugin-app [type=button].prepost-btn-primary-outline,
#__prepost-plugin-app [type=reset].prepost-btn-primary-outline,
#__prepost-plugin-app [type=submit].prepost-btn-primary-outline,
#__prepost-plugin-app button.prepost-btn-primary-outline {
  background-color: transparent;
  border-color: #e10083;
  color: #e10083;
}

#__prepost-plugin-app [type=button].prepost-btn-primary-outline:hover, #__prepost-plugin-app [type=button].prepost-btn-primary-outline:focus,
#__prepost-plugin-app [type=reset].prepost-btn-primary-outline:hover,
#__prepost-plugin-app [type=reset].prepost-btn-primary-outline:focus,
#__prepost-plugin-app [type=submit].prepost-btn-primary-outline:hover,
#__prepost-plugin-app [type=submit].prepost-btn-primary-outline:focus,
#__prepost-plugin-app button.prepost-btn-primary-outline:hover,
#__prepost-plugin-app button.prepost-btn-primary-outline:focus {
  background-color: #e10083;
  border-color: #fff;
  color: #fff;
}

#__prepost-plugin-app [type=button].prepost-btn-success,
#__prepost-plugin-app [type=reset].prepost-btn-success,
#__prepost-plugin-app [type=submit].prepost-btn-success,
#__prepost-plugin-app button.prepost-btn-success {
  background-color: #198754;
  border-color: #198754;
  color: #fff;
}

#__prepost-plugin-app [type=button].prepost-btn-secondary,
#__prepost-plugin-app [type=reset].prepost-btn-secondary,
#__prepost-plugin-app [type=submit].prepost-btn-secondary,
#__prepost-plugin-app button.prepost-btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

#__prepost-plugin-app [type=button].prepost-btn:hover, #__prepost-plugin-app [type=button].prepost-btn:focus,
#__prepost-plugin-app [type=reset].prepost-btn:hover,
#__prepost-plugin-app [type=reset].prepost-btn:focus,
#__prepost-plugin-app [type=submit].prepost-btn:hover,
#__prepost-plugin-app [type=submit].prepost-btn:focus,
#__prepost-plugin-app button.prepost-btn:hover,
#__prepost-plugin-app button.prepost-btn:focus {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

#__prepost-plugin-app .prepost-search-group {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

#__prepost-plugin-app .prepost-search-group > .prepost-btn, #__prepost-plugin-app .prepost-search-group > .prepost-input, #__prepost-plugin-app .prepost-search-group > .prepost-select {
  position: relative;
  border: none;
  border-radius: 0px;
}

#__prepost-plugin-app .prepost-search-group > .prepost-btn:focus-visible, #__prepost-plugin-app .prepost-search-group > .prepost-input:focus-visible, #__prepost-plugin-app .prepost-search-group > .prepost-select:focus-visible {
  border-color: #adb5bd;
}

#__prepost-plugin-app .prepost-search-group > .prepost-select {
  border-top: 1px solid #adb5bd;
  border-left: 1px solid #adb5bd;
  border-bottom: 1px solid #adb5bd;
  flex-grow: 0;
}

#__prepost-plugin-app .prepost-search-group > .prepost-btn {
  padding: 0.3125rem 0.625rem;
  border-top: 1px solid #adb5bd;
  border-right: 1px solid #adb5bd;
  border-bottom: 1px solid #adb5bd;
  flex-grow: 0;
}

#__prepost-plugin-app .prepost-search-group > .prepost-input {
  border: 1px solid #adb5bd;
  width: 100%;
  flex-grow: 1;
}

#__prepost-plugin-app .prepost-pagination {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

#__prepost-plugin-app .prepost-pagination > li,
#__prepost-plugin-app .prepost-pagination > a {
  float: left;
}

#__prepost-plugin-app .prepost-pagination .pagination-link {
  position: relative;
  display: block;
  padding: 0.375rem 0.625rem;
  text-decoration: none;
  border: 1px solid #ced4da;
  font-size: 0.875rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

#__prepost-plugin-app .prepost-pagination > li {
  list-style-type: none;
}

#__prepost-plugin-app .prepost-pagination > li.disabled .pagination-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

#__prepost-plugin-app .prepost-pagination > li:not(:first-child) {
  margin-left: -1px;
}

#__prepost-plugin-app .prepost-pagination > li:not(.disabled) .pagination-link {
  cursor: pointer;
  color: #e10083;
  background-color: #fff;
  border: 1px solid #ced4da;
}

#__prepost-plugin-app .prepost-pagination > li:not(.disabled) .pagination-link:hover, #__prepost-plugin-app .prepost-pagination > li:not(.disabled) .pagination-link:focus {
  color: #ced4da;
  background-color: #e10083;
  border: 1px solid #ced4da;
}

/*# sourceMappingURL=prepost-plugin.css.map */