@function rem($size) {
    @return ($size / 16px) * 1rem;
}

@function color($color-name, $color-variant:null) {
    $colors: null !default;

    @if ($colors==null) {
        $colors: ();
    }

    // color variant is optional
    @if ($color-variant !=null) {
        // map inception
        @return map-get(map-get($colors, $color-name), $color-variant);
    }

    @else {
        @return map-get($colors, $color-name);
    }
}