@mixin font-size($size) {
    font-size: ($size / $root-font-size) * 1rem;
}

@mixin appearance ($value) {
    -webkit-appearance: $value;
       -moz-appearance: $value;
            appearance: $value;
}

@mixin transition ($values...) {
    -webkit-transition: $values;
            transition: $values;
}

@mixin box-shadow ($values...) {
    -webkit-box-shadow: $values;
       -moz-box-shadow: $values;
            box-shadow: $values;
}

@mixin border-radius ($values) {
    -webkit-border-radius: $values;
            border-radius: $values;
}

@mixin opacity ($value: 0) {
    $value-percentage: $value * 100;

    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value-percentage})";
    filter: alpha(opacity=#{$value-percentage});
}

@mixin box-sizing ($type: border-box) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
            box-sizing: $type;
}

@mixin flex ($values...) {
    -webkit-box-flex: $values;
       -moz-box-flex: $values;
        -webkit-flex: $values;
            -ms-flex: $values;
                flex: $values;
}

@mixin display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-wrap ($value) {
    @if $value==nowrap {
        -ms-flex-wrap: none;
    } @else {
        -ms-flex-wrap: $value;
    }

    -webkit-flex-wrap: $value;
            flex-wrap: $value;
}

@mixin flex-align-items($value) {
    -webkit-align-items: $value;
       -moz-align-items: $value;
        -ms-align-items: $value;
            align-items: $value;
}

@mixin flex-justify-content($value) {
    -webkit-justify-content: $value;
       -moz-justify-content: $value;
        -ms-justify-content: $value;
            justify-content: $value;
}

@mixin generate-flex-shrink($prefix) {
    @for $i from 0 to 6 {
        .#{$prefix}-#{$i} {
            flex-shrink: $i;
        }
    }
}

@mixin generate-flex-grow($prefix) {
    @for $i from 0 to 6 {
        .#{$prefix}-#{$i} {
            flex-grow: $i;
        }
    }
}

@mixin generate-spacing($prefix, $property) {
    // Spacing to multiply the sizes by
    $spacing: 1rem;

    // List of sizes to generate for each
    $sizes: 0, .25, .5, 1, 1.5, 3;

    // List of sides
    $sides: "", "-top", "-right", "-bottom", "-left";

    @if ($property == "margin") {
        $sizes: append($sizes, auto);
    }

    @each $side in $sides {
        // Loop through all of the sizes(we use @for rather than @each, as we want access to the index)
        @for $i from 1 through length($sizes) {
            // Get the size for the current index
            $size: nth($sizes, $i);

            // Create the rule
            @if ($size=="auto") {
                .#{$prefix}#{$side}-#{$size} {
                    #{$property}#{$side}: $size;
                }
            } @else {
                .#{$prefix}#{$side}-#{$i - 1} {
                    #{$property}#{$side}: $spacing * $size;
                }
            }
        }
    }
}

@mixin button-loading() {
    &.loading {
        overflow: hidden;
        position: relative;

        &:after {
            content: '';
            display: block;
            height: 5px;
            width: 100%;
            background-image: repeating-linear-gradient(45deg, color(light), color(light) 1px, transparent 2px, transparent 5px);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-top: 1px solid color(light);
            position: absolute;
            left: 0;
            bottom: 0;
            background-size: 7px 7px;
        }

        &:hover {
            background-color: color(primary);
            color: color(light);
            border-color: color(primary);

            &:after {
                background-image: repeating-linear-gradient(45deg, color(light), color(light) 1px, transparent 2px, transparent 5px);
                border-top: 1px solid color(light);
                animation: progress-linear-slide 1s infinite linear forwards;
            }
        }
    }

    @keyframes progress-linear-slide {
        0% {
            background-position: 0% 0;
        }

        100% {
            background-position: 100% 0;
        }
    }
}