//colors
$root-font-size: 16px;

$colors: (
    light: #fff,
    dark: #000,

    primary: #e10083,
    secondary: #6c757d,
    success: #198754,
    error: #dc3545,
    info: #0dcaf0,

    border-light: #dee2e6,

    gray: #6c757d,
    graydark: #343a40,
    gray100: #f8f9fa,
    gray200: #e9ecef,
    gray300: #dee2e6,
    gray400: #ced4da,
    gray500: #adb5bd,
    gray600: #6c757d,
    gray700: #495057,
    gray800: #343a40,
    gray900: #212529,

    blue: #0000ff,
) !global;